<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
<<<<<<< HEAD
  <title>Stretch Friends!</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <center>
   <h1>WELCOME! What's sore?</h1>
   <form method="POST" action="/stretch">
     <input type="radio" name="area" value="arms"> arms
     <br>
     <input type="radio" name="area" value="legs"> legs
     <br>
     <input type="radio" name="area" value="back"> back
     <br>
     <input type="submit">
   </form>
   </center>
=======
  <title>stretch friend</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
   
 </head>
 <body>
  
>>>>>>> 00334e7c2d8576bd46b139af9937b846c97e5a83
 </body>
</html>