<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">

  <title>Stretch Friends!</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
   <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>

 </head>
 <body>
<div id="info"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><img src="http://icons.iconarchive.com/icons/simon-cook/xtra-orange/128/Get-Info-B-icon.png" width="30px"></a></div>
    <div id="light" class="white_content">created by fimilly<br> we don't exercise but some people do and this is important we hope. <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a></div>
    <div id="fade" class="black_overlay"></div>
   
   <center>
   <h1>WELCOME! What's sore?</h1><img src="images/head.png" style="margin-bottom: -8px; margin-left: 20px;"><br>
   <form method="POST" action="/stretch">
     <input type="image" name="area" value="arms" title="arm" src="images/arm1.png" style="margin-right: -5px;">
     
     <input type="image" name="area" value="back"  title="back (even though it's on the front)" src="images/back.png" style="margin-bottom: 74px;"> 

     <input type="image" name="area" value="arms"  title="arm" src="images/arm2.png"  style="margin-left: -4px; margin-bottom: 1px;">
     <br>
<input type="image" name="area" value="abominals"  title="abominals" src="images/tummy.png" style="margin-top: -100px; margin-bottom: 15px; margin-left: -9px;"><br>
     <input type="image" name="area" value="legs"  title="legs" src="images/legs.png" style="margin-top: -20px; margin-left: -6px;">
   </form>


        </center>

 </body>
</html>