<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">

  <title>Stretch Friends!</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <center>
   <h1>WELCOME! What's sore?</h1><img src="images/head.png" style="margin-bottom: -8px; margin-left: 20px;"><br>
   <form method="POST" action="/stretch">
     <input type="image" name="area" value="arms" title="arm" src="images/arm1.png" style="margin-right: -5px;">
     
     <input type="image" name="area" value="back"  title="back (even though it's on the front)" src="images/back.png" style="margin-bottom: 74px;"> 

     <input type="image" name="area" value="arms"  title="arm" src="images/arm2.png"  style="margin-left: -4px;">
     <br>
<<<<<<< HEAD
     <input type="radio" name="area" value="abdominal"> abdominal
     <br>
     <input type="radio" name="area" value="neck"> neck
     <br>
     <input type="submit">
=======
<input type="image" name="area" value="abominals"  title="abominals" src="images/tummy.png" style="margin-top: -100px; margin-bottom: 15px; margin-left: -9px;"><br>
     <input type="image" name="area" value="legs"  title="legs" src="images/legs.png" style="margin-top: -20px; margin-left: -6px;">
>>>>>>> de7aa4d304be8622644410d77cc86dbec621c188
   </form>
        </center>

 </body>
</html>