<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">

  <title>Stretch Friends!</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <center>
   <h1>WELCOME! What's sore?</h1>
   <form method="POST" action="/stretch">
     <input type="radio" name="area" value="arms"> arms
     <br>
     <input type="radio" name="area" value="legs"> legs
     <br>
     <input type="radio" name="area" value="back"> back
     <br>
     <input type="submit">
   </form>
   </center>

 </body>
</html>