<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">

  <title>Stretch Friends!</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
   <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>

 </head>
 <body>
<div id="info"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><img src="http://icons.iconarchive.com/icons/simon-cook/xtra-orange/128/Get-Info-B-icon.png" width="30px"></a></div>
    <div id="light" class="white_content"> <b>disclaimer: we aren't doctors and this site isn't magic. If your pain is severe, please visit a doctor!</b><br><h4>Why Stretch?</h4><p>"Studies about the benefits of stretching have had mixed results. Some show that stretching helps. Other studies show that stretching before or after exercise has little if any benefit and doesn't reduce muscle soreness after exercise. Studies have shown that static stretching performed immediately before a sprint event may decrease performance to a small degree.</p>

      <p>"More research is needed, but some benefits of stretching are thought to be:</p>
<ul>
  <li>Improving athletic performance in some activities</li>
  <li>Decreasing the risk of activity-based injuries</li>
<li>"Stretching can help improve flexibility, and, consequently, range of motion in your joints. Better flexibility may improve your performance in physical activities or decrease your risk of injuries by helping your joints move through their full range of motion and enabling your muscles to work most effectively.</li>
<p>
"Stretching also increases blood flow to the muscle. And you may come to enjoy the ritual of stretching before or after hitting the trail, ballet floor or soccer field."*</p>
      
      <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
  <br><br>*text (c) mayoclinic.org
  <br>website (c) fimilliy
  </div>
    <div id="fade" class="black_overlay"></div>
   
   <center>
   <h1>WELCOME! Where are you sore?</h1><img src="images/head.png" style="margin-bottom: -8px; margin-left: 20px;"><br>
   <form method="POST" action="/stretch">
     <input type="image" name="area" value="arms" title="arm" src="images/arm1.png" style="margin-right: -5px;">
     
     <input type="image" name="area" value="back"  title="back (even though it's on the front)" src="images/back.png" style="margin-bottom: 74px;"> 

     <input type="image" name="area" value="arms"  title="arm" src="images/arm2.png"  style="margin-left: -4px; margin-bottom: 1px;">
     <br>


<input type="image" name="area" value="abdominals"  title="abdominals" src="images/tummy.png" style="margin-top: -100px; margin-bottom: 17px; margin-left: -9px;"><br>
     <input type="image" name="area" value="legs"  title="legs" src="images/legs.png" style="margin-top: -22px; margin-left: -6px;">
   </form>


        </center>

 </body>
</html>