<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Stretch Friends!</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>WELCOME! What's sore?</h1>
   <%= @message.sample %>

 </body>
</html>