<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Stretch Friends!</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
   <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>

 </head>
 <body>
   <div id="info"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><img src="http://icons.iconarchive.com/icons/simon-cook/xtra-orange/128/Get-Info-B-icon.png" width="30px"></a></div>
    <div id="light" class="white_content">created by fimilly<br> we don't exercise but some people do and this is important we hope. <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a></div>
    <div id="fade" class="black_overlay"></div>
   <center>
   <h1>Here is a stretch for you!</h1>
   <%= @message.sample %><br><br>
<input type="button" class="fancy" value="New Video" onclick="location.reload();"/><br><br><br>
     <a href="/">
     <input type="button" class="fancy" value="Different Area">
</a>
   </center>
 </body>
</html>